/* Body and general styles */
body {
  --background-color: #efefef;
  --text-color: #141414;
  --border-color: #141414;
  --link-color: #242049;

  font-family: sans-serif;
  margin: 6em 6em;
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
}

/* NAV */
nav {
  --hover-color: #d6d6d6;

  position: fixed;
  height: 3em;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

nav ol li.active-page {
  background-color: var(--hover-color);
}

nav > ol {
  padding-left: 5.33%;
  height: 100%;
  margin: 0;
}

nav > ol li {
  padding-top: 1em;
  display: inline-block;
  list-style-type: none;
  width: 7em;
  height: calc(100% - 1em);
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

nav > ol li a {
  vertical-align: middle;
  font-size: 1.2em;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border: 1px solid var(--border-color);
  border-top: none;
  display: none;
  margin-top: calc(.5em + 2px);
  padding-left: 0;
  position: absolute;
}

.dropdown-content > li {
  background-color: var(--background-color);
  border: none;
  padding-bottom: 1em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ARTICLE */
article {
  width: 70%;
  margin: 0 4em;
}

aside {
  margin: 0 auto;
  width: 69.78%;
}

aside.left {
  float: left;
}

aside.right {
  float: right;
}

p {
  text-indent: 1.5em;
  line-height: 1.5em;
}

/* FOOTER */
footer {
  clear: both;
  padding: 0.8em 5.33%;
  text-align: center;
}

/* FORM */
form {
  float: none;
  margin: auto;
  padding: 1em;
  text-align: left;
  width: 600px;
}

fieldset {
  color: var(--text-color);
  border: none;
  clear: both;
  margin: 1em;
  padding: 1.5em;
  border-radius: .2em;
}

legend {
  font-size: 2em;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
}

input[type="text"], select {
  font-size: 1em;
  padding: .2em .5em;
  border-radius: .2em;
  width: 20em;
  margin-top: .5em;
  margin-bottom: 1em;
  padding: .5em;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid var(--border-color);
}

input[type="text"]:focus, select:focus {
  outline: none;
}

input[type="button"], input[type="submit"] {
  background-color: white;
  color: #00498e;
  font-size: 1em;
  padding: .2em .5em;
  border-radius: .2em;
  /*border: 1px solid #00498e;*/
}

input[type="radio"] {
  display: inline;
  border: 1px solid var(--border-color);
  border-radius: 10%;
  background-color: black;
}

input[type="radio"] ~ label {
  display: inline;
}

label {
  /*color: #005cb3;*/
  display: block;
  font-size: .9em;
  font-weight: bold;
}

button {
  font-size: 1em;
  padding: .2em .5em;
  border-radius: .2em;
  margin-top: .5em;
  margin-bottom: 1em;
  padding: .5em;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--border-color);
}

input[type="text"] .error {
  color: #fff;
  background-color: #800;
  border: thin solid black;
}

#errors ol li{
  color: #ff5555;
}

.error-list {
  list-style: decimal;
  color: red;
}

/* DEBUG CLASSES */
.debug {
  background-color: rgba(125, 208, 86, 0.61);
  border: 1px green solid;
  font-family: monospace;
  padding: .5em;
}
